
body{
  margin:0;
  background-color: #1f1f20;
  color: white;
}
.navbutton{
  font-size: large;
  border-color: transparent;
  padding: .6em;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  text-align: center;
  width: fit-content;
  margin-bottom: .25em;
  margin-top: .25em;
}
.navbutton:hover{
  border-color:transparent;
  background-color: #333333;
}
/*@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
  ali
}*/
.topnav {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  background-color: black;
  color: white;
  height: fit-content;
}
@media  (max-width: 600px){
  .topnav{
    background-color: purple;
    padding-top: .8em;
    align-items: start;
  }
  .newpagelink{
    display: none;
  }
  .navbutton{
    display: none;
  }
  .dropdown{
    text-align: center;
    font-size: .85cm;
    position: absolute;
    width: 100%;
    background-color: palevioletred;
  }
  .dropdownlink{
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    color:white;
  }
  #hamburgerbutton{
    border-style: none;
    height: 21px;
    width: 30px;
    display:block;
    margin-left: 1.6em;
  }

}
.divider{
  padding-top: 0;
  margin-top: 0;
}
.basicinfo{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.newpagelink{
  display: inline-flex;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
}
